@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  /* 62.5% = 10px = 1rem */

  --gradient-background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
  --purple-700: #312D64;
  --pink-400: #B52184;
  --pink-100: #F9F4FB;
  --white-100: #fff;
}

html,
body,
button,
input,
textarea,
input::placeholder,
textarea::placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
}

form {
  max-width: 35rem;
  margin-inline: auto;
}

fieldset {
  border: none;
}

button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--white-100);

  padding: 1.3rem 1.6rem;

  border: none;
  border-radius: 1.6rem;
  background: var(--gradient-background);

  cursor: pointer;
}

button:hover {
  transform: scale(1.03);
  transition: all 500ms ease;
}

/* Typography */
h1,
legend {
  font-size: 2.7rem;
  font-weight: 900;
  line-height: 4rem;
  color: var(--pink-400);
}

h2 {
  font-size: 2.2rem;
  font-weight: 900;
  color: var(--pink-400);
}

p,
input,
textarea,
input::placeholder,
textarea::placeholder {
  /* font-size: 1.6rem; */
  font-weight: 600;
  line-height: 2.3rem;
  color: var(--purple-700);
}

/* Hero Section */
#hero {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  text-align: center;
  width: 100%;
  height: 100%;
  padding-inline: 3rem;

  background-color: var(--pink-100);
}

#hero .astronaut {
  width: 26rem;
  margin-inline: auto;
}

#hero .hero-cta {
  width: 100%;
  height: 100%;
}

#hero .hero-cta .hero-cta-down-button img {
  width: 5.3rem;
  margin-bottom: 10rem;
}

#hero .hero-cta .hero-cta-down-button:hover {
  cursor: pointer;
}

#hero .hero-cta .hero-cta-titles {
  width: 100%;
  height: 7rem;
  margin-bottom: 3rem;
}

#hero .hero-cta .hero-cta-titles p {
  margin-top: 0.5rem;
}

/* Cards Section */
#cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;

  width: 100%;
  padding: 5.2rem 3rem;
  background: var(--gradient-background);
}

#cards .card {
  max-width: 35rem;
  height: 100%;
  padding: 3.2rem;

  border-radius: 2rem;
  background-color: var(--white-100);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#cards .card:hover {
  transform: scale(1.03);
  transition: all 200ms ease-in-out;
}

#cards .card img {
  width: 7rem;
}

#cards .card-text h2 {
  margin: 2.3rem auto 1rem;
}

/* Contact Section */
#contact {
  width: 100%;
  padding: 7.8rem 3rem;
  background-color: var(--pink-100);
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  margin: 4.3rem auto 2.4rem;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input,
.input-wrapper textarea {
  width: 100%;
  padding: 1.2rem 1.6rem;

  border-radius: 1.6rem;
  border: 0.15rem solid var(--purple-700);
}

.input-wrapper input {
  padding-left: 5rem;
}

.input-wrapper textarea {
  height: 12.6rem;
}

.input-avatar-icon,
.input-at-icon {
  background-repeat: no-repeat;
  background-position: 1.6rem;
}

.input-avatar-icon {
  background-image: url('./assets/avatar-icon.svg');
}

.input-at-icon {
  background-image: url('./assets/at-icon.svg');
}

/* Footer Section */
footer {
  padding: 1.6rem;
  background: var(--gradient-background);
}

footer p {
  text-align: center;
  color: var(--white-100);
}

/* Media Queries */

@media(min-width: 425px) {

  /* Global Styles */
  h1,
  legend {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  /* Hero Section */
  #hero .astronaut {
    width: 36.4rem;
  }

  #hero .hero-cta .hero-cta-titles p {
    font-size: 2rem;
  }

  #hero .hero-cta .hero-cta-down-button img {
    width: 5.9rem;
  }

  /* Cards Section */
  #cards .card {
    padding: 3.5rem;
  }

  #cards .card img {
    width: 8rem;
  }

  #cards .card-text h2 {
    margin: 3rem auto 1.6rem;
  }
}

@media(min-width: 930px) {

  /* Global Styles */
  h2 {
    font-size: 2.3rem;
  }

  /* Cards Section */
  #cards {
    flex-direction: row;
    gap: 3rem;
  }

  #cards .card {
    width: 100%;
    height: 40.5rem;
    padding: 2.5rem;
  }

  #cards .card-text h2 {
    margin: 1.5rem auto 1rem;
  }

  #cards .card img {
    width: 7rem;
  }
}

@media(min-width: 1020px) {

  /* Global Styles */
  form {
    max-width: 40rem;
  }

  /* Cards Section */
  #cards {
    justify-content: space-evenly;
  }

  #cards .card {
    width: 33rem;
    height: 37rem;
    padding: 2.5rem;
  }
}

@media(min-width: 1230px) {

  /* Global Styles */
  h2 {
    font-size: 2.8rem;
  }

  form {
    max-width: 50rem;
  }

  /* Cards Section */
  #cards .card {
    width: 35rem;
    height: 38.7rem;
    padding: 3.2rem;
  }

  #cards .card-text h2 {
    margin: 3.3rem auto 1rem;
  }

  #cards .card img {
    width: 8rem;
  }
}

@media(min-width: 1440px) {

  /* Global Styles */
  h1 {
    font-size: 5.7rem;
    line-height: 7.3rem;
  }

  form {
    max-width: 59.2rem;
    margin-left: 10.9rem;
  }

  /* Hero Section */
  #hero {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 3rem 10.3rem 11rem;

    text-align: left;
  }

  #hero .astronaut {
    width: 72rem;
    height: 72rem;
  }

  #hero .hero-cta .hero-cta-titles {
    margin: 31.2rem auto 18rem;
  }

  #hero .hero-cta .hero-cta-titles p {
    font-size: 3.2rem;
    line-height: 4rem;
    margin-top: 0.8rem;
  }

  /* Contact Section */
  #contact {
    background-image: url('./assets/stars.svg');
    background-repeat: no-repeat;
    background-position: right;
  }
}