@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  /* 62.5% = 10px = 1rem */

  --purple-700: #312D64;
  --pink-400: #B52184;
  --pink-100: #F9F4FB;
  --white-100: #fff;
}

html,
body,
input {
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
}